@import '../abstracts/variables',
'../abstracts/mixins';

.hero {
    padding-top: 170px;
    text-align: center;
    margin-bottom: 256px;

    &__wrapper {
        max-width: 796px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-md{
        margin: 24px 0;
        // color: #212529;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
}

@include devices(tablet)  {
    .hero{
        &__wrapper{
            flex: 0 0 83.33%;
            max-width: 83.33%;
        }
    }
}

@include devices(mobile) {
    .hero{
        padding-top: 90px;
        margin-bottom: 96px;

        .btn--outline{
            margin-top: 15px;
        }
    }
}