@import '../abstracts/variables',
'../abstracts/mixins';

.support {
    padding: 128px 0 0 0;

    &__flex {
        display: flex;
        align-items: center;

        .support__text {
            padding: 0 4px;
            max-width: 41.67%;

            .heading-three {
                font-size: 48px;
                line-height: 1.083333;
                letter-spacing: -.003em;
                margin-bottom: 24px;
            }

            .heading-four {
                margin-bottom: 12px;
            }

            .text-sm {
                margin-bottom: 16px;
                color: #484848;
            }

            span {
                display: flex;
                align-items: center;
                color: $primary;
                margin-bottom: 48px;
                cursor: pointer;

                img {
                    transition: .3s;

                }

                &:hover {
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }

        figure {
            margin-left: 8.33%;

            img {
                border-radius: 40px;
            }
        }
    }

    .support__wrapper {
        text-align: center;
        padding: 160px 0;

        .wrapper__text {
            max-width: 600px;
            text-align: center;
            margin-left: 25%;
        }

        .heading-one {
            margin-bottom: 48px;
        }
    }
}


@include devices(tablet) {
    .support {
        &__flex {
            align-items: flex-start;

            .support__text {

                .heading-three {
                    font-size: 40px;
                    line-height: 1.1;
                    letter-spacing: 0;
                }
            }

            figure {
                margin-left: 10px;
                margin-right: 60px;
            }
        }

        .support__wrapper {
            .wrapper__text {
                margin-left: 16.67%;
            }
        }
    }
}

@include devices(mobile) {
    .support {
        padding: 90px 0 0 0;

        &__flex {
            display: flex;
            align-items: center;
            flex-direction: column;

            .support__text{
                max-width: 100%;
            }
            figure {
                margin-left:  3px;
                margin-right: 3px;
            }

            .text-sm{
                font-size: 16px;
            }
        }

        .support__wrapper {
            text-align: center;
            padding: 70px 0;
    
            .wrapper__text {
                max-width: 600px;
                text-align: center;
                margin-left: 0%;
            }

            .btn--outline{
                margin-top: 15px;
            }
    
            .heading-one {
                margin-bottom: 48px;
            }
        }
    }
}