@import '../abstracts/variables';

.btn--primary{
    color: #fff;
    background-color: $primary;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-transform: none;
    border-style: none;
    border-radius: 32px;
    padding: 18px 32px;
    cursor: pointer;
}

.btn--outline{
    color: $text-black;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    line-height: 1.4;
    text-transform: none;
    border: 1px solid $text-black;
    border-radius: 32px;
    padding: 18px 32px;
    cursor: pointer;
}